[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
streamlit = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
openai = "*"
langchain = "*"
yfinance = "*"
python-dotenv = "*"
langchain-openai = "*"
ipykernel = "*"
tabulate = "*"
langchainhub = "*"
sqlalchemy = "*"
arxiv = "*"
pymupdf = "*"
chromadb = "*"
pysqlite3-binary = "*"
spacy = "*"
langchain-text-splitters = "*"
tiktoken = "*"
scikit-learn = "*"
beautifulsoup4 = "*"
google-api-python-client = "*"
html2text = "*"

[dev-packages]

[requires]
python_version = "3.11"
