[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121/"
verify_ssl = true
name = "pytorch"

[packages]
fastapi = "*"
uvicorn = "*"
streamlit = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
openai = "*"
langchain = "==0.2.12"
gradio = "==4.40.0"
yfinance = "*"
python-dotenv = "*"
langchain-openai = "*"
ipykernel = "*"
tabulate = "*"
langchainhub = "*"
chromadb = "*"
pysqlite3-binary = "*"
beautifulsoup4 = "*"
google-api-python-client = "*"
html2text = "*"
langchain-community = "*"
langsmith = "*"
ipywidgets = "*"
langchain-ollama = "*"
pdfplumber = "==0.11.2"
pytesseract = "*"
torch = {version = "==2.2.0+cu121", index = "pytorch"}
torchvision = {version = "==0.17.0+cu121", index = "pytorch"}
litellm = "*"
grandalf = "*"
layoutparser = {extras = ["layoutmodels", "ocr"], version = "*"}
pillow = "==9.5.0"
detectron2 = {ref = "v0.5", git = "git+https://github.com/facebookresearch/detectron2.git"}
transformers = "*"
langchain-huggingface = "*"
faiss-cpu = "*"
tiktoken = "*"
lark = "*"
langchain-chroma = "*"
termcolor = "*"
camelot-py = "==0.11.0"
pypdf2 = "<3.0"
ghostscript = "*"

[dev-packages]

[requires]
python_version = "3.11"
