[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
streamlit = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
openai = "*"
langchain = "==0.2.12"
gradio = "==4.40.0"
yfinance = "*"
python-dotenv = "*"
langchain-openai = "*"
ipykernel = "*"
tabulate = "*"
langchainhub = "*"
chromadb = "*"
pysqlite3-binary = "*"
beautifulsoup4 = "*"
google-api-python-client = "*"
html2text = "*"
langchain-community = "*"
litellm = "*"
langsmith = "*"
grandalf = "*"
ipywidgets = "*"
langchain-ollama = "*"

[dev-packages]

[requires]
python_version = "3.11"
